<!DOCTYPE html>
<html lang="en" xmlns:th="http://www.thymeleaf.org">
<head>
<meta charset="ISO-8859-1">
<title>Contact Manager</title>

<!-- <link rel="stylesheet"
	href="https://stackpath.bootstrapcdn.com/bootstrap/4.1.3/css/bootstrap.min.css"
	integrity="sha384-MCw98/SFnGE8fJT3GXwEOngsV7Zt27NXFoaoApmYm81iuXoPkFOJwJ8ERdknLPMO"
	crossorigin="anonymous">-->
	
	<link rel="stylesheet" href="https://cdn.jsdelivr.net/npm/bootstrap@5.1.1/dist/css/bootstrap.min.css" 
	integrity="sha384-F3w7mX95PdgyTmZZMECAngseQB83DfGTowi0iMjiWaeVhAn4FJkqJByhZMI3AhiU" 
	crossorigin="anonymous">
		
</head>
<body>
    
    <div class="container my-2">
     <h1>Contact List</h1>
      <a th:href="@{/newContactForm}" class="btn btn-primary btn-sm mb-3">Add Contact</a>
     <table border="1"  class = "table table-striped table-responsive-md">
      <thead>
         <tr>
           <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=firstname&sortDir=' + ${reverseSortDir}}">
           	First Name</a></th>
           	
           <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=lastname&sortDir=' + ${reverseSortDir}}">
			Last Name</a></th>  
			       
			  <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=email&sortDir=' + ${reverseSortDir}}">
			Email</a></th>
			
           <th><a th:href="@{'/page/' + ${currentPage} + '?sortField=number&sortDir=' + ${reverseSortDir}}">
            Number</a></th>
           <td align="center">Action</td>
         </tr>
      </thead>
      <tbody>
        <tr th:each="Contact :${listContact}">
            <td th:text="${Contact.firstname}"></td>
            <td th:text="${Contact.lastname}"></td>
            <td th:text="${Contact.email}"></td>
            <td th:text="${Contact.number}"></td>
            <td align="center"> <a th:href="@{/showFormForUpdate/{id}(id=${Contact.id})}" class="btn btn-primary" >Update</a>
                 <a th:href="@{/deleteContact/{id}(id=${Contact.id})}" class="btn btn-danger">Delete</a></td>
            
            </tr>
      </tbody>   
     </table>
     
     <div th:if = "${totalPages} > 1">
        <div class="row col-sm-10">
          <div class="col-sm-2">
             Total Rows: [[${totalItems}]]
          </div>
          
          <div class="col-sm-1">
             <span th:each="i: ${#numbers.sequence(1, totalPages)}">
						<a th:if="${currentPage != i}" th:href="@{'/page/' + ${i}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">[[${i}]]</a>
						<span th:unless="${currentPage != i}">[[${i}]]</span>  &nbsp; &nbsp;
		     </span>
          </div>
          
          <div class="col-sm-1">
             <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${currentPage + 1}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Next</a>
					<span th:unless="${currentPage < totalPages}">Next</span>
          </div>
          
          <div class="col-sm-1">
             <a th:if="${currentPage < totalPages}" th:href="@{'/page/' + ${totalPages}+ '?sortField=' + ${sortField} + '&sortDir=' + ${sortDir}}">Last</a>
					<span th:unless="${currentPage < totalPages}">Last</span>
          </div>
          
        </div>  
     </div>
    </div>

</body>
</html>